{embed="includes/document-head" title="{phrase:nav_teams}"}

</head>

<body>
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body"> 
	
{embed="includes/document-nav" section="teams"}
	
	<!-- Start Nav Backed Header -->
	<div class="nav-backed-header parallax">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li><a href="{site_url}">{phrase:nav_home}</a></li>
						<li class="active">{phrase:nav_teams}</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<!-- End Nav Backed Header --> 
	<!-- Start Page Header -->
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>{phrase:nav_teams}</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End Page Header -->
	
	<!-- Start Content -->
	<div class="main" role="main">
		<div id="content" class="content full">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8">
						
						<div class="listing events-listing">
							<header class="listing-header">
								<h3>{phrase:year_teams}</h3>
							</header>
							<section class="listing-cont">
								<ul>
									{exp:query sql="
										SELECT exp_channel_data.entry_id AS EntryID
										FROM exp_channel_data INNER JOIN exp_channel_titles ON exp_channel_data.entry_id = exp_channel_titles.entry_id
										WHERE exp_channel_titles.channel_id = '1' AND exp_channel_data.entry_id != '7' AND exp_channel_titles.`status` = 'Members-id5' AND exp_channel_data.field_id_16 <> '' AND exp_channel_data.field_id_85 = 'y'
										ORDER BY exp_channel_data.field_id_71 DESC, exp_channel_data.field_id_50 ASC
									"}
									{embed="includes/team-listing-element" entryid="{EntryID}"}
									{/exp:query}
								</ul>
								
							<div class="spacer-30"></div>	
							</section>
						</div>
						
					</div>
					

					
					<div class="col-xs-12 col-md-4"  style="padding-top:30px">
						
						{embed="includes/rightbar-video-sponsors"}
						
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	{embed="includes/document-footer" sponsors="on"}
	
</div>

{embed="includes/document-modals"}


{embed="includes/document-footer-jquery"}

<script>
$(document).ready(function() {
	$( '.slideshow' ).cycle();
});	
</script>
</body>
</html>