{embed="includes/document-head" title="{phrase:account}"}

</head>

<body>
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body"> 
	
{embed="includes/document-nav" section=""}
	
	<!-- Start Nav Backed Header -->
	<div class="nav-backed-header parallax">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li><a href="index.html">{phrase:nav_home}</a></li>
						<li class="active">{phrase:account}</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<!-- End Nav Backed Header --> 
	<!-- Start Page Header -->
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>{phrase:account_car_details}</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End Page Header -->
	
	<!-- Start Content -->
	<div class="main" role="main">
		<div id="content" class="content full">
			<div class="container">
				<div class="row">
					{embed="account/menu" section="car"}
				</div>
				
				<div class="spacer-30"></div>
				
				{if segment_3=='success'}
				<div class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>{phrase:success}</strong> {phrase:account_your_changes_have_been_saved}
				</div>
				
				<div class="spacer-30"></div>
				{/if}
				
				<div class="row">
					<div class="col-xs-12 col-md-12">
						{exp:channel:form channel="zoo_visitor" entry_id="{zoo_visitor_id}" return="/{publisher:current_language_code}/account/car/success"}
							<header class="single-post-header clearfix">
								<h3>{phrase:account_make_sure_to_fill_out_all_fields}</h3>
							</header>
							
							<div class="row post-content">
								<div class="col-xs-12 col-sm-6">
									<label>{phrase:account_make}</label>
									<input type="text" class="form-control" name="car_make" id="car_make" value="{if car_make}{car_make}{/if}">
								</div>
								<div class="col-xs-12 col-sm-6">
									<label>{phrase:account_model}</label>
									<input type="text" class="form-control" name="car_model" id="car_model" value="{if car_model}{car_model}{/if}">
								</div>
							</div>
							
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<label>{phrase:account_year}</label>
									<input type="text" class="form-control" name="car_year" id="car_year" value="{if car_year}{car_year}{/if}">
								</div>
								<div class="col-xs-12 col-sm-6">
									<label>{phrase:account_colour}</label>
									<input type="text" class="form-control" name="car_colour" id="car_colour" value="{if car_colour}{car_colour}{/if}">
								</div>
                                
							</div>
                            <div class="row">
								
								<div class="col-xs-12 col-sm-12">
									<label>{phrase:account_car_photo}</label>
									{field:car_image}
								</div>
                                
							</div>

							
							<div class="row post-content">
								<button type="submit" class="btn btn-danger">{phrase:account_save_changes}</button>
							</div>
						{/exp:channel:form}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{embed="includes/document-footer" sponsors="off"}
	
</div>

{embed="includes/document-modals"}


{embed="includes/document-footer-jquery"}

<script>
$(document).ready(function() {
	$( '.slideshow' ).cycle();
});	
</script>
</body>
</html>