<ul class="nav nav-tabs">
	<li {if embed:section=="team"}class="active"{/if}><a href="{path='account/team'}">{phrase:account_nav_team}</a></li>
	<li {if embed:section=="donation"}class="active"{/if}><a href="{path='account/donation'}">{phrase:account_nav_donation}</a></li>
	<li {if embed:section=="car"}class="active"{/if}><a href="{path='account/car'}">{phrase:account_nav_car}</a></li>
	<li {if embed:section=="driver"}class="active"{/if}><a href="{path='account/driver'}">{phrase:account_nav_driver}</a></li>
	<li {if embed:section=="navigator"}class="active"{/if}><a href="{path='account/navigator'}">{phrase:account_nav_navigator}</a></li>
	<li {if embed:section=="account"}class="active"{/if}><a href="{path='account/'}">{phrase:account_nav_account_management}</a></li>
	<li {if embed:section=="password"}class="active"{/if}><a href="{path='account/reset-password'}">{phrase:account_nav_reset_password}</a></li>
	<li {if embed:section=="logout"}class="active"{/if}><a href="{path=logout}">{phrase:account_nav_logout}</a></li>
</ul>